<IfModule mod_rewrite.c>
  RewriteEngine On

  # For all URL starting with /css, /fonts, /img or /js
  RewriteCond %{REQUEST_URI} ^/?(css|fonts|images|js)(/.*)?$ [NC]
  RewriteRule ^.*$ /www/%1%2 [L]

  RewriteBase /
  RewriteRule ^/www/index\.html$ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
  RedirectMatch 404 ^/page-not-found
  ErrorDocument 404 /
</IfModule>

## No directory listings
<IfModule autoindex>
  IndexIgnore *
</IfModule>

Options -Indexes

AddType application/x-font-ttf ttc ttf
AddType application/x-font-otf otf
AddType application/font-woff woff
AddType application/font-woff2 woff2
AddType application/vnd.ms-fontobject eot
